body {
  background-color: rgb(52, 166, 197);
  color: rgb(143, 21, 54);
  justify-content: center;
}

.container {
  background-color: rgb(143, 217, 212);
  border-style: dotted;
  border-color: white;
  margin: 25px, 50px;
  padding: 10px, 25px;
}

h1, h3 {
 font-family: 'Pacifico', cursive; 
 color: red;
}

@font-face {
 font-family: 'Pacifico', cursive;
 src: url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); 
}

 
