body {
  background-color: rgb(52, 166, 197);
  color: rgb(143, 21, 54);
  justify-content: center;
}

.container {
  background-color: white;
  border-style: dotted;
  border-color: aqua;
}

h3 {
 font-family: 'Pacifico', cursive; 
 color: red;
}

#permit-form {
  background-color: white;
  color: black;
  border-color: blue;
}

@font-face {
 font-family: 'Pacifico', cursive;
 src: url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); 
}
